function Document.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 512
call String.new 1
pop this 0
push pointer 0
return
function Document.clear 0
push argument 0
pop pointer 0
push constant 0
call String.new 1
pop this 0
push constant 0
return
function Document.contents 0
push argument 0
pop pointer 0
push this 0
return
function Document.appendChar 0
push argument 0
pop pointer 0
push this 0
push argument 1
call String.appendChar 2
pop temp 0
push constant 0
return
